<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <% restaurant.menu.forEach(element => { %>
   <p> <%= element.name %> </p>
   <p> <%= element.price %> </p>
   <p> <%= element.rating %> </p>
   <p> <%= element.details %> </p>
  <% }); %>
    
  
</body>
</html>